<div style="height: 100%;" class="coontainer-fluid">
  <app-header style="height: 45px;" class="main-header"></app-header>
  <!-- <div (click)="onToggleMenuSidebar()"></div> -->

  <app-menu-sidebar style="background-color: white;"></app-menu-sidebar>

  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>
<!-- <app-footer ></app-footer> -->
<!-- <app-control-sidebar></app-control-sidebar> -->
<!-- width: 100%; -->
<!-- [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}" -->
